html, body {
  height: 100%;
  background-image: url(../img/background.jpg);
  background-size: cover;
  width: 100;
  font-family: 'Permanent Marker', cursive;
}

#turn-score {
  text-align: center;
  border: 2px solid black;
}

.rules {
  font-weight: bold;
  padding-bottom: 100px;
  font-size: 18px;
}

.col-md-6 {
  text-align: center;

}

.total-score {
  text-align: center;
  border: 2px solid black;
}

.jumbotron {
  margin-top: 50px;
  border: 2px solid black;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  color: white;
  -webkit-box-shadow: -9px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -9px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -9px 10px 5px 0px rgba(0,0,0,0.75);
}

#buttons {
  text-align: center;
  padding-top: 500px;
}

#rule {
  text-decoration: underline;
}

.form-group {
  max-width: 300px;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

.input-username{
  text-align: center;
  height: 100%;
  background-image: url(../img/background1.png);
  color: #463F3A;
}

.playing {
  display: none;
  /*background-color: #E0AFA0;*/
  height: 100%;
}

.btn {
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.won {
  display: none;
  background-color:
}

input[type=text] {
    border: 2px solid black;
    border-radius: 4px;
}

label {
  font-size: 16px;
}
