html, body {
  height: 100%;
}

#turn-score {
  text-align: center;
  border: 2px solid black;
}

.rules {
  font-weight: bold;
  padding-bottom: 100px;
}

.col-md-6 {
  text-align: center;

}

.total-score {
  text-align: center;
  border: 2px solid black;
}

#buttons {
  text-align: center;
  padding-top: 500px;
}


.form-group {
  max-width: 300px;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

.input-username{
  text-align: center;
  height: 100%;
  background-color: #98E2C6;
}

.playing {
  display: none;
  background-color: #C4B7CB;
  height: 100%;
}

.btn {
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.won {
  display: none;
  background-color:
}
